/* This is how we add comments in CSS */
/* This is applying the style to the tag itself */
p {
    font-weight: bold;
    color: red;
    background-color: yellow;
}

h1 {
    color: green;
}

img {
    width: 425px;
    height: 300px;
}

table, td, th {
    border: 2px solid black;
}

.table{
    font-size: 28px;
    margin: 30px;
    padding:10px;
}

.table_bg_color_violet {
    background-color: rgb(131, 63, 184);
}

.table_bg_color_blue {
    background-color: rgb(73, 111, 191);
}

/* class example */
.bg-blue {
    background-color: lightblue;
    border: 3px solid rgb(171, 231, 53);
}

.myClass {
    font-size: 18px;
    font-weight: bold;
}

/* id example */
#header {
    font-size: 20px;
    background-color: pink;
    border: 2px;
}


/*
 font-size: to increase decrease the size of the text
font-weight: to make the text bold or normal
color: to change the color of the text
background-color: to change the background color of the element
border: to add border to the element
width: to change the width of the element
height: to change the height of the element 
margin: to add space outside the element
padding: to add space inside the element
*/